*{
    font-family: 'Barlow Condensed', sans-serif;
}

div{
    text-align: center;
}

#main{
    margin-top: 0.9375rem;
    margin-left: auto;
}

button:hover{
    background-color: aqua;
}

img{
    width: 7.5rem;
    height: 7.5rem;
    filter: drop-shadow(-0.3125rem 0.3125rem 0.3125rem gray);
    padding-right: 0.625rem;
    padding-top: 0.625rem;
}

h1{
    font-size: 1.15rem;
}

.select{
    border: 0.125rem dotted yellow;
    background-color: grey;
}

.good{
    border: 0.125rem solid green;
}

.bad{
    border: 0.125rem solid red;
}